#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timer-container {
  padding: 0 3rem;
  border: 0.125rem solid #adadad;
  border-radius: 0.5rem;
}

.timer {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.disabled {
  opacity: 0.5;
}
